body {
	background:white;
	color:black;
	margin:0;
	padding:20px 0;
	font: 10pt/15pt Optima, Helvetica, Arial, Verdana, sans-serif; 
	-webkit-font-smoothing: antialiased; 
/*	font: 10pt/15pt "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; 
	-webkit-font-smoothing: antialiased; */
}
#page {
	background:white;
	width:890px;
	margin:0px auto;
	padding:10px 100px;
	padding-bottom: 60px;
	margin-bottom: 20px;
}

ul {
list-style:none;
} 
li:before {
    content: "»   "; 
}
li {
padding-left: 22px;
text-indent: -22px;
}

.picker {
	position: absolute;
	top: 64px;
	right: 64px;
	background: #FFFFFF;
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: center;
}

.job {  
clear: left;
line-height: 15pt;
}

.header { 
height: 28pt;
/*padding: 8px;*/
}

.when {  
width: auto;
font-size: 9pt;
float: left;
position: relative;
top: 14pt;
}

.title { 
float:left;
clear: left;
position: relative;
top: -15pt;
font-size: 14pt;
font-weight: bold;
}

.company { 
float: right;
clear: right;
font-weight: bold;
position: relative;
top: -16pt;
}

.location { 
float: right;
clear: right;
font-size: 10pt;
position: relative;
top: -14pt;
}

.section { 
font-size: 18pt;
line-height: 27pt;
font-weight: bold;
border-bottom: 1pt black solid;
margin-bottom: 20pt;
}

.address { font-size: 9pt; 
text-align: right;
/* border-top: 1pt solid black;
padding-top: 2pt;*/
}

.name {
padding-bottom: 2pt;
border-bottom: 1pt solid black;
 margin-bottom: 3pt; 
font-weight: bold;
/* letter-spacing: 8pt;*/
text-align: right;
font-size: 26pt;
line-height: 30pt;
}

.details {
clear: left;
font-size: 12pt;
margin-bottom: 12pt;
width: 750px;
}

table.qual {
width: 80%; font-size: 9pt;
padding: 5px;
text-indent: 0;
}


